#!/bin/bash

export ANDROID_SDK="$HOME/Android/Sdk"
export ANDROID_NDK="$HOME/Android/Sdk/ndk/25.2.9519653"
export GRAALVM_HOME="$HOME/Applications/graalvm-svm-java17-linux-gluon-22.1.0.1-Final"
export JAVA_HOME="$GRAALVM_HOME"